@font-face {
  font-family: 'ApercuPro-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/ApercuPro-Bold.woff2') format('woff2'),
    url('../fonts/ApercuPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'ApercuPro-Medium';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/ApercuPro-Medium.woff2') format('woff2'),
    url('../fonts/ApercuPro-Medium.woff') format('woff');
}
@font-face {
  font-family: 'ApercuPro';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/ApercuPro.woff2') format('woff2'),
    url('../fonts/ApercuPro.woff') format('woff');
}
@font-face {
  font-family: 'History';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/History.woff2') format('woff2'),
    url('../fonts/History.woff') format('woff');
}



@font-face {
  font-family: 'History Pro';
  font-weight: normal;
  font-style: normal;
  src:url('../fonts/HistoryPro-Two.woff2') format('woff2'),
  url('../fonts/HistoryPro-Two.woff')format('woff')
}